@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #fd4070;
    --secondary: #f2f2f2;
    --secondary-btn: #e4e6eb;
}

body {
    height: 100vh;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-track {
    background-color: #ddd;
}

/* antd custom */

/* Custom */
.tw-sidebar-item {
    @apply flex items-center p-3 mb-2 w-full rounded-xl hover:bg-secondary hover:text-black text-black;
}

.tw-menu-dropdown-item {
    @apply flex items-center py-1 text-lg;
}

.tw-fixed-sidebar {
    @apply h-screen sticky top-0;
}

.tw-primary-btn {
    @apply bg-primary text-white hover:bg-primary hover:text-white;
}
